@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

:root{
    --primary: var(--primary);
    --secondary: var(--secondary);
    --background: var(--background);
    --foreground: var(--foreground)
}

@theme inline {
  /* Tailwind sẽ sử dụng biến trung gian này */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}
body {
  /* Tailwind v3/v4 hỗ trợ gọi biến trực tiếp như thế này */
  @apply bg-background text-foreground;
}
img {
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}

.swiper-slide {
  height: 500px;
  /* hoặc chiều cao mong muốn */
}

.swiper-slide {
  width: auto;
  flex-shrink: 0;
  display: block;
  height: 100%;
  max-height: 100%;
}

.swiper-wrapper {
  max-height: 100%;
  height: 100%;
  display: flex;
}

.text-outline {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
